{% load crowdsourcing %}
<link rel="stylesheet" href="http://sorgalla.com/projects/jcarousel/skins/tango/skin.css" type="text/css"></link>
<link rel="stylesheet" href="/media/enlarge.css" type="text/css"></link>
<link rel="stylesheet" href="/media/google_maps.css" type="text/css"></link>
<link rel="stylesheet" href="/media/styles.css" type="text/css"></link>

{% jquery_and_google_api %}
{% yahoo_api %}
<script type="text/javascript" src="/media/jquery.jcarousel.min.js"></script>
<script type="text/javascript" src="/media/survey.js"></script>
<script type="text/javascript" src="/media/enlarge.js"></script>
<script type="text/javascript" src="/media/google_maps.js"></script>
