# This pip requirements file contains the additional requirements that let you
# run the example app. Make sure you also install crowdsourcing_requirements.
#
# You'll also need to install whatever apps you need to run your database
# of choice. For postgresql, for example, you could use
# psycopg2>=2.0.8

# oembed allows video embedding.
-e git+git://github.com/smulloni/python-oembed.git#egg=python-oembed

# You'll of course need django-crowdsourcing if you want to run the example
# app. 
-e hg+https://django-crowdsourcing.googlecode.com/hg/#egg=crowdsourcing
