{% extends "crowdsourcing/base.html" %}
{% load crowdsourcing %}

{% block title %}{{ survey.title }}{% endblock %}

{% block extra_header %}
  {% if aggregate_fields %}
    {% yahoo_pie_chart_header %}
  {% endif %}
{% endblock %}

{% block content %}
  <h1>{{ survey.title }}</h1>

  {% if thanks %}
    <p>Thanks for your submission.</p>
  {% endif %}

  {% if filters %}
    <h2>Filters</h2>
    {% filters_as_ul filters %}
  {% endif %}

  {% if not fields %}
    All questions in this survey have private answers.
  {% endif %}

  {% for display in report.get_survey_report_displays %}
    {% if display.is_text %}
      {{ display.annotation|safe }}
    {% else %}{% if display.is_pie %}
      {% for question in display.questions %}
        {% yahoo_pie_chart display question request.GET %}
      {% endfor %}
    {% endif %}{% endif %}
  {% endfor %}

  {% if archive_fields %}
    {% submissions page_obj.object_list fields %}
    {% paginator survey report pages_to_link page_obj %}
  {% endif %}
{% endblock %}
